name: blog.nickesselman.nl
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: blog.nickesselman.nl:prod
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: "3000"
      HOST: "0.0.0.0"
      GITHUB_OWNER: "${GITHUB_OWNER}"
      GITHUB_TOKEN: "${GITHUB_TOKEN}"
      EMAIL_APP_USER: "${EMAIL_APP_USER}"
      EMAIL_APP_PASSWORD: "${EMAIL_APP_PASSWORD}"
      EMAIL_APP_TO_ADDRESS: "${EMAIL_APP_TO_ADDRESS}"
    ports:
      - "127.0.0.1:3011:3000"
    working_dir: /app
    volumes:
      - ./app/src/posts:/app/src/posts
      - ./app/static:/app/static