
version: '3.8'

services:
  website:
    build:
      context: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    restart: unless-stopped
    volumes:
      - ./data/reactions.json:/app/data/reactions.json
